/* FONTS */

@font-face {
    font-family: "Epilogue Light";
    src: url('Assets/fonts/epilogue-2/Epilogue-Light.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Bevan";
    src: url('Assets/fonts/Bevan/Bevan-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


body{
    width: 1280px;
    margin: 0px auto;
    height: 100vh;
    overflow-x: hidden;
}

.ngo{
    display: grid;
    justify-content: center; 
}

nav{
   display: flex;
    justify-content: safe center;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    width: 1280px;
    margin: -10px auto;
    z-index: 60;
    gap: 280px;
}

.logo{
    display: flex;
    align-items: center;
    font-family: "Epilogue Light";
    color: #8E7ADA;
}

.logo > h3{
    font-size: 12px;
    width: 20px;
}

nav img{
    width: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 100px;
    font-family: "Epilogue Light";
    list-style: none;
    font-size: 13px;
    font-weight: 700;
    
}

ul a{
    text-decoration: none;
    font-family: "Epilogue Light";
    background-color: #ffffff;
    color: #8E7ADA;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}



nav a button{
    font-family: "Epilogue Light";
    background-color: #8E7ADA;
    color: #ffffff;
    border: none;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;

}

#donate-btn:hover{
    background-color: #ffffff;
    color: #8E7ADA;
    border: 2px solid #8E7ADA;
}


/* PAYMENT SECTION */

.payment-section{
    display: grid;
    justify-content: center;
    font-family: "Epilogue Light";
    padding: 100px 0px;
    background-color: rgba(237, 240, 240, 0.477);
    margin-top: -10px;
}

.payment-type{
    text-align: center;
}

.payment-type h3{
    font-size: 25px;
}

.payment-type p{
    font-size: 20px;
}

.name-img{
    display: flex;
    gap: 30px;
}

.name-img a{
    text-decoration: none;
    color: #000000;
}

.btc{
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    border: 3px solid #8d7ada5a;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btc img{
    width: 50px;
    border-radius: 5px;
}

.btc:hover{
    background-color: #e8e5f45a;
    transform: scaleX(1.01);
    transition: 0.2s;
}

.trc{
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    border: 3px solid #8d7ada5a;
    border-radius: 10px;
    margin-bottom: 20px;
}

.trc img{
    width: 50px;
    border-radius: 10px;
}

.trc:hover{
    background-color: #e8e5f45a;
    transform: scaleX(1.01);
    transition: 0.2s;
}

.other{
   display: flex;
    /* align-items: center; */
    font-size: 15px;
    justify-content: center;
    padding: 20px; 
    background-color: #ffffff;
    border: 3px solid #8d7ada5a;
    border-radius: 10px;
    margin-bottom: 20px;
}

.other img{
    width: 50px;
    border-radius: 10px;
}

.other:hover{
    background-color: #e8e5f45a;
    transform: scaleX(1.01);
    transition: 0.2s;
}

.other p{
    text-align: center;
}

.crypto{
    font-family: "Epilogue Light";
}

.crypto button{
    border: 2px solid #8E7ADA;
    padding: 10px;
    background-color: #ffffff;
    color: #8E7ADA;
    cursor: pointer;
    border-radius: 5px;
}

.lock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Epilogue Light";
}

.lock img{
    width: 20px;
    margin-bottom: 4px;
}



/* LAST PART */
.last-part{
    /* background-color: #000000; */
    color: #ffffff;
}

.just-text-sec{
    display: flex;
    justify-content: space-between;
    /* margin: 50px 0px; */
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    height: 300px;
    align-items: center;
    background-color: #252424;
    
}

.just-text-sec h3{
    font-family: "Epilogue Light";
    font-size: 30px;
    width: 200px;
    line-height: 40px;
}


.just-text-sec p{
    width: 500px;
    font-family: "Epilogue Light";
    line-height: 30px;
}




/* LAST SECTION */
.last-sec{
    display: flex; 
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 10px 0px 10px;
    font-family: "Epilogue Light";
    gap: 90px;
    margin: 0px 55px 0px 40px;
    color: #000000;
}

.last-sec img{
    width: 100px;
}

.text-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.text-logo h3{
    color: #8E7ADA;
    font-size: 15px;
    width: 25px;
    padding-left: 10px;
}

.last-sec-list{
    font-size: 12px;

}

.last-sec-list li{
    list-style: none;
    line-height: 30px;
}

.last-sec-list a{
    color: #000000;
    text-align: left;
}

.heading{
    font-weight: 700;
    font-size: 15px;
}

/* FOOTER */
footer{
    padding: 0px 60px;
    font-family: "Epilogue Light";
    font-size: 12px;
    color: #000000;
}

hr{
    color: #8E7ADA;
    width: 100%;
}

/* RESPONSIVE DESIGN */
/* MOBILE */






/* RESPONSIVE DESIGN */
/* TABLET */